# SERVER
SERVER_PORT=3000

# DATABASE
DB_HOST=mysql
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_ROOT_PASSWORD=
DB_HOST_PORT=
DB_CONTAINER_PORT=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=3h
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=30d

# KAKAO
KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=

# AWS
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_CLOUDFRONT_DOMAIN=
AWS_S3_BUCKET_DOMAIN=

# Frontend
FRONTEND_URL=https://localhost:5173
FRONTEND_LOGIN_REDIRECT_PATH=article
FRONTEND_DOMAIN=localhost.com